@import "../../assets/styles/variables";

.lesson-mode {
  text-align: center;
  padding: 100px 1rem;

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__card {
    overflow: hidden;
    width: 90%;
    max-width: 200px;
    border: 2px solid var(--text-sub);
    border-radius: 16px;
    text-decoration: none;
    background-color: var(--bg-second-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
    color: #000;

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.02);
      }
    }
  }

  &__header {
    padding: 1rem;
    background-color: var(--bg-main-color);
  }

  &__img {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    &_articles {
      width: 10rem;
    }
    img {
      width: 100%;
      display: block;
    }
  }

  &__body {
    padding: 1rem;
  }

  &__label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  &__bar {
    width: 100%;
    height: 10px;
    background: var(--bg-second-color-hover);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    margin: 0.3rem 0;
    overflow: hidden;
  }

  &__progress {
    height: 100%;
    background-color: var(--main-color);
    width: 0%;
    transition: width 0.3s ease;
  }

  &__text {
    font-size: 0.9rem;
    color: var(--text-sub);
    margin-top: 0.3rem;
  }
}

