@import "../../../assets/styles/variables";

.set-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  text-align: center;
  background-color: var(--bg-main-color);
  overflow: hidden;
  box-shadow: 4px 4px var(--main-color);

  &__icon {
    padding:1.5rem 0.5rem 1.2rem 0.5rem;
    
    width: 100%;
    max-width: 80px;
    margin: 0 auto;
    img {
      width: 100%;
      display: block;
    }
  }

  &__info {
  border-top: 1px solid var(--main-color);

    padding: 0.8rem 0.5rem;
    background-color: var(--bg-second-color);
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--text-dark);
  }

  &__progress {
    font-size: 14px;
    line-height: 125%;
    color: var(--text-sub);
  }
}
