@import '../../../assets/styles/variables';

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all .4s ease;
  &__title {
    font-size: 1.4rem;
    font-weight: bold;
    color: $second-color;
    text-align: center;
    flex-grow: 1;
  }

  &__nav-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid $second-color;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 0.6rem 0.8rem;
    border-radius: 50%;
    transition: all 0.4s ease;
    text-decoration: none;
    color: $second-color;
    &:hover {
      background: $second-color;
      color: $third-color;
    }
  }
}