@import "../../assets/styles/variables";

.articles-game {
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0.8rem 1rem 8rem 1rem;

  .game-card {
    width: 320px;
    height: 220px;
    margin: 20px auto;
    perspective: 1000px;
    cursor: pointer;

    .game-card-inner {
      width: 100%;
      height: 100%;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.5s;
    }

    &.flipped .game-card-inner {
      transform: rotateY(180deg);
    }

    .game-card-front,
    .game-card-back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      background: $card-front-color;
      border-radius: 10px;
      box-shadow: 0 4px 8px $card-shadow;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: bold;
      color: $card-front-text;
    }

    .game-card-front {
      background: $card-front-color;
    }

    .game-word {
      margin-left: 8px;
      @media (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
    .game-card-back {
      color: $card-back-text;
      background: $card-back-color;
      transform: rotateY(180deg);
      @media (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
    @media (max-width: 768px) {
      width: 260px;
      height: 180px;
      font-size: 1.2rem;
    }
  }

  .game-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;

    .game-button {
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      font-size: 1rem;
      background-color: $btn-der;
      color: $text-light;
      transition: all 0.3s ease;

      &_der {
        background-color: $btn-der;
        box-shadow: $btn-der-shadow 0px 7px 0px 0px;
        &:hover {
          box-shadow: $btn-der-shadow 0px 5px 0px 0px;
        }
        &:active {
          box-shadow: $btn-der-shadow 0px 0px 0px 0px;
          transform: translateY(5px);
          transition: 200ms;
        }
      }
      &_das {
        background-color: $btn-das;
        box-shadow: $btn-das-shadow 0px 7px 0px 0px;
        &:hover {
          box-shadow: $btn-das-shadow 0px 5px 0px 0px;
        }
        &:active {
          box-shadow: $btn-das-shadow 0px 0px 0px 0px;
          transform: translateY(5px);
          transition: 200ms;
        }
      }
      &_die {
        background-color: $btn-die;
        box-shadow: $btn-die-shadow 0px 7px 0px 0px;
        &:hover {
          box-shadow: $btn-die-shadow 0px 5px 0px 0px;
        }
        &:active {
          box-shadow: $btn-die-shadow 0px 0px 0px 0px;
          transform: translateY(5px);
          transition: 200ms;
        }
      }
    }
  }

  .shake {
    animation: shake 0.25s ease-in-out;
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    20%,
    80% {
      transform: translateX(-10px);
    }
    40%,
    60% {
      transform: translateX(10px);
    }
  }

  .game-error {
    padding: 1rem;
    display: inline-block;
    background-color: $error-bg-color;
    color: $error-color;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 1rem;
    span {
      color: $error-color-span;
    }
  }

  .game-reset {
    margin-top: 5rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    background-color: $btn-reset;
    color: $text-light;
    transition: all 0.3s ease;
    box-shadow: $btn-reset-shadow 0px 7px 0px 0px;

    &:hover {
      box-shadow: $btn-reset-shadow 0px 5px 0px 0px;
    }
    &:active {
      box-shadow: $btn-reset-shadow 0px 0px 0px 0px;
      transform: translateY(5px);
      transition: 200ms;
    }
  }
  .game-article {
    font-weight: bold;
    transition: color 0.3s;
    &.correct {
      color: $correct-color;
    }
    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
}

.finish {
  &-container {
    text-align: center;
    margin-top: 3rem;
    padding: 2rem;
    background: $list-bg;
    box-shadow: 0 4px 10px $card-shadow;
    border-radius: 1.5rem;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: $text-dark;
    margin-bottom: 1.5rem;
  }

  &-subtitle {
    font-size: 1.4rem;
    color: $text-dark;
    margin-bottom: 1.5rem;
  }

  &-back,
  &-reset {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease, transform 0.2s ease;
    width: 100%;
    max-width: 300px;
    margin: 0.5rem 0;
  }

  &-back {
    background: $btn-back;
    color: $text-light;
    box-shadow: $btn-back-shadow 0px 7px 0px 0px;
    &:hover {
      box-shadow: $btn-back-shadow 0px 5px 0px 0px;
    }
    &:active {
      box-shadow: $btn-back-shadow 0px 0px 0px 0px;
      transform: translateY(5px);
      transition: 200ms;
    }
  }

  &-reset {
    background: $btn-reset;
    color: $text-light;
    box-shadow: $btn-reset-shadow 0px 7px 0px 0px;
    &:hover {
      box-shadow: $btn-reset-shadow 0px 5px 0px 0px;
    }
    &:active {
      box-shadow: $btn-reset-shadow 0px 0px 0px 0px;
      transform: translateY(5px);
      transition: 200ms;
    }
  }

  @media (max-width: 768px) {
    &-title {
      font-size: 1.4rem;
    }
    &-subtitle {
      font-size: 1.2rem;
    }

    &-back,
    &-reset {
      font-size: 0.9rem;
    }
  }
}

.game-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: bold;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    font-size: 1rem;
  }
}

.game-back {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 1px solid $second-color;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.6rem 0.8rem;
  border-radius: 50%;
  transition: all 0.4s ease;
  text-decoration: none;
  color: $second-color;
  &:hover {
    background: $second-color;
    color: $third-color;
  }
}

.game-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: $text-dark;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.game-counter {
  font-size: 1.2rem;
  font-weight: bold;
  color: $text-dark;
  text-align: right;

  @media (max-width: 768px) {
    font-size: 1rem;
    text-align: center;
    margin-top: 0.5rem;
  }
}
