@import "../../assets/styles/variables";

.articles-game {
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
  padding: 120px 1rem;
  min-height: 100vh;
  background-color: var(--bg-main-color);
  .game-card {
    width: 320px;
    height: 220px;
    margin: 20px auto;
    perspective: 1000px;
    cursor: pointer;

    .game-card-inner {
      width: 100%;
      height: 100%;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.5s;
    }

    &.flipped .game-card-inner {
      transform: rotateY(180deg);
    }

    .game-card-front,
    .game-card-back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      background: var(--card-front-color);
      border-radius: 10px;
      box-shadow: 0 4px 8px var(--card-shadow);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--card-front-text);
    }

    .game-card-front {
      background: var(--card-front-color);
    }

    .game-word {
      margin-left: 8px;
      @media (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
    .game-card-back {
      color: var(--card-back-text);
      background: var(--card-back-color);
      transform: rotateY(180deg);
      @media (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
    @media (max-width: 768px) {
      width: 260px;
      height: 180px;
      font-size: 1.2rem;
    }
  }

  .game-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;

    .game-button {
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      font-size: 1rem;
      background-color: var(--btn-der);
      color: #fff;
      transition: all 0.3s ease;

      &_der {
        background-color: var(--btn-der);
        box-shadow: var(--btn-der-shadow) 0px 7px 0px 0px;
        @media (any-hover: hover) {
          &:hover {
            box-shadow: var(--btn-der-shadow) 0px 5px 0px 0px;
          }
        }

        &:active {
          box-shadow: var(--btn-der-shadow) 0px 0px 0px 0px;
          transform: translateY(5px);
          transition: 200ms;
        }
      }
      &_das {
        background-color: var(--btn-das);
        box-shadow: var(--btn-das-shadow) 0px 7px 0px 0px;
        @media (any-hover: hover) {
          &:hover {
            box-shadow: var(--btn-das-shadow) 0px 5px 0px 0px;
          }
        }

        &:active {
          box-shadow: var(--btn-das-shadow) 0px 0px 0px 0px;
          transform: translateY(5px);
          transition: 200ms;
        }
      }
      &_die {
        background-color: var(--btn-die);
        box-shadow: var(--btn-die-shadow) 0px 7px 0px 0px;
        @media (any-hover: hover) {
          &:hover {
            box-shadow: var(--btn-die-shadow) 0px 5px 0px 0px;
          }
        }
        &:active {
          box-shadow: var(--btn-die-shadow) 0px 0px 0px 0px;
          transform: translateY(5px);
          transition: 200ms;
        }
      }
    }
  }

  .shake {
    animation: shake 0.25s ease-in-out;
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    20%,
    80% {
      transform: translateX(-10px);
    }
    40%,
    60% {
      transform: translateX(10px);
    }
  }

  .game-error {
    padding: 1rem;
    display: inline-block;
    background-color: var(--error-bg-color);
    color: var(--error-color);
    font-weight: bold;
    margin-top: 10px;
    border-radius: 1rem;
    span {
      color: var(--error-color-span);
    }
  }

  .game-reset {
    margin-top: 5rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--btn-reset);
    color: #fff;
    transition: all 0.3s ease;
    box-shadow: var(--btn-reset-shadow) 0px 7px 0px 0px;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: var(--btn-reset-shadow) 0px 5px 0px 0px;
      }
    }
    &:active {
      box-shadow: var(--btn-reset-shadow) 0px 0px 0px 0px;
      transform: translateY(5px);
      transition: 200ms;
    }
  }
  .game-article {
    font-weight: bold;
    transition: color 0.3s;
    &.correct {
      color: var(--correct-color);
    }
    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
}

.finish-articles {
  padding: 100px 1rem;
  min-height: 100vh;
  background-color: var(--bg-main-color);
  &__container {
    padding: 2rem;
    max-width: 300px;
    margin: 0 auto;
    background-color: var(--bg-second-color);
    border-radius: 32px;
    text-align: center;
    @media (max-width: 768px) {
      max-width: 90%;
    }
  }
  &__img {
    max-width: 200px;
    margin: 0 auto;
    img {
      width: 100%;
      display: block;
    }
  }
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--text-dark);
  }
  &__subtitle {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    color: var(--text-dark);
  }
  &__result {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    color: var(--text-dark);
    span {
      color: var(--correct-color);
    }
  }
  &__mistakes {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    color: var(--text-dark);
    span {
      color: var(--error-color);
    }
  }
  &__btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &__continue {
    width: 200px;
    padding: 1rem;
    border-radius: 16px;
    background-color: var(--main-color);
    color: var(--bg-second-color);
  }
  &__reset {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--main-color);
    &-icon {
      position: relative;
      left: .5rem;
      font-weight: bold;
      font-size: 1.2rem;
      color: var(--main-color);
    }
  }
}