$main-color: #cbcaec;
$second-color:#151544;
$third-color: #ffffff;
$fourth-color: #f2f1f4;
$fourth-color-hover: #e0e0e0;
$fifth-color:#ffdb74;

$list-bg: #fff;

$text-light: #fff;
$text-dark: #151544;

$bar-bg-color: #d9d8e9;
$bar-progress-color:#ffdb74;

$card-front-color: #ffdb74;
$card-front-text: #000;
$card-shadow:rgba(0, 0, 0, 0.2);
$card-back-color:#74c3ff;
$card-back-text:#fff;

$achievements-bg: #fff;
$achievements-bg-unlocked: #c8e6c9;
$achievements-circle: #e0e0e0;
$achievements-progress: #4caf50;
$achievements-text: #333;
$achievements-description: #666;

$correct-color: green;
$error-color: red;
$error-color-span:rgb(88, 0, 0);
$error-bg-color: rgb(250, 165, 165);

$btn-reset: #eb7f03;
$btn-reset-shadow:#864802;

$btn-back: #4c6ef5;
$btn-back-shadow: #273779;

$btn-yes: #388e3c;
$btn-yes-shadow: #275f28;

$btn-no: #ff4b4b;
$btn-no-shadow: #803535;

$btn-der: rgb(89, 89, 248);
$btn-der-shadow: rgb(55, 55, 148);

$btn-das: rgb(62, 150, 62);
$btn-das-shadow: rgb(33, 81, 33);

$btn-die: rgb(206, 78, 78);
$btn-die-shadow: rgb(96, 37, 37);