@import '../../assets/styles/variables';

.game-center {
  padding: 80px 1rem 100px;
  // .game-center__container
  &__container {
      max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;
  }
  // .game-center__title
  &__title {
     font-size: 1.5rem;
    color: var(--text-dark);
    font-weight: bold;
    margin-bottom: 2rem;
  }
  // .game-center__list
  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  // .game-center__card
  &__card {
    cursor: pointer;
    max-width: 500px;
    display: flex;
    background-color: var(--bg-second-color);
    border: 3px solid var(--bg-main-color);
    border-radius: 8px;
    overflow: hidden;
  }
  // .game-center__card-img
  &__card-img {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:0 0 100px;
    background-color: var(--bg-main-color);  
    img {
      width: 100%;
      display: block;
    }
  }
  // .game-center__card-info
  &__card-info {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
  // .game-center__card-title
  &__card-title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 4px 0;
    color: var(--text-dark);
  }
  // .game-center__card-descr
  &__card-descr {
    font-size: 0.8rem;
    color: var(--text-sub);
  }
}
