@import "../../assets/styles/variables";

.home {
  position: relative;
  padding: 0 0 150px 0;
  &__container {
    max-width: 768px;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 1rem;
    background-color: var(--bg-main-color);

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      padding: 30px 1rem;
    }
  }

  &__profile-img {
    width: 180px;
    height: 200px;
    border-radius: 16px;
    border: 1px solid var(--main-color);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 3px 3px var(--main-color);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__profile-info {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (max-width: 768px) {
      flex: unset;
      align-items: center;
      text-align: center;
    }
  }

  &__profile-title {
    font-size: 28px;
    line-height: 125%;
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__profile-subtitle {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    color: var(--text-dark);
    @media (max-width: 768px) {
      justify-content: center;
      gap: 10px;
    }

    span {
      font-size: 16px;
      color: var(--main-color);
      font-weight: bold;
    }
  }

  &__progress-bar {
    width: 100%;
    height: 10px;
    border: 1px solid var(--main-color);
    background-color: var(--bg-second-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1.2px var(--main-color);

    span {
      display: block;
      height: 100%;
      background-color: var(--main-color);
      transition: width 0.3s ease;
    }

    @media (max-width: 768px) {
      max-width: 300px;
    }
  }

  &__main {
    margin-top: 60px;
    @media (max-width: 480px) {
      margin-top: 20px;
    }
  }

  &__category {
    color: var(--main-color);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }

  &__levels {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-top: 20px;

    @media (max-width: 686px) {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      justify-content: flex-start;
      gap: 16px;
      padding: 0 1rem 1rem 2rem;

      scrollbar-width: none; // Firefox
      -ms-overflow-style: none; // IE/Edge

      &::-webkit-scrollbar {
        display: none; // Chrome/Safari
      }
    }

    @media (max-width: 385px) {
      padding-left: 20px;
    }
  }

  &__level-card {
    flex: 1 1 250px;

    background: var(--bg-main-color);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--main-color);
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: 4px 4px var(--main-color);
    &.active {
      border: 1px solid var(--main-color);
    }
    @media (max-width: 686px) {
      flex: 0 0 auto;
      width: 200px;
    }

    @media (any-hover: hover) {
      &:hover {
        border: 1px solid var(--main-color);
      }
    }
  }

  &__level-title {
    color: var(--text-dark);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__level-bar {
    height: 10px;
    background-color: var(--bg-second-color);
    border: 1px solid var(--main-color);

    border-radius: 6px;
    overflow: hidden;
  }

  &__level-progress {
    height: 100%;
    background-color: var(--main-color);
    transition: width 0.3s ease;
  }

  &__level-info {
    margin-top: 10px;
    font-size: 14px;
    color: var(--text-dark);
  }
}
